

<video class="background-video hero-bg-video is-playing" loop="loop" autoplay="autoplay" muted="muted" poster="https://html5backgroundvideos.com/wp-content/uploads/2015/09/busy-new-york-intersection.jpg" id="bgvid">
  <source src="https://d3k5xyayaartr5.cloudfront.net/busy-new-york-intersection/busy-new-york-intersection.mp4" type="video/mp4">
  <source src="https://d3k5xyayaartr5.cloudfront.net/busy-new-york-intersection/busy-new-york-intersection.webm" type="video/webm">
  <source src="https://d3k5xyayaartr5.cloudfront.net/busy-new-york-intersection/busy-new-york-intersection.ogv" type="video/ogg">
</video>
<center>
  
  <div class="starter-template">
    
    <h1>Residentree</h1>
    
    <p class="lead">
      Find, review, and talk about your building!
    </p>
    
     <% if flash.alert %>
    <div class="alert"><%= flash.alert%></div>
  <% end %>
    <p>
      <%= form_tag("/buildings") do %>
      <%= label_tag('building[address]', "Address") %>
      <%= text_field_tag('building[address]') %>

      <%= label_tag('building[borough]', "Borough") %>
   <select name = "building[borough]" id = "borough_address">
      <option disabled selected> -- Select a Borough -- </option>
      <option value = "Brooklyn">Brooklyn</option>
      <option value = "Bronx">Bronx</option>
      <option value = "Manhattan">Manhattan</option>
      <option value = "Queens">Queens</option>
      <option value = "Staten Island">Staten Island</option>
  </select>

      <%= submit_tag "Submit" %>
      <% end %>
    </p>

  </div>
</center>
<footer>Made with <img src="https://www.djangoproject.com/s/img/small-fundraising-heart.png" id = 'heart'> by NYers, for NYers</footer>

