<style type="text/css">
  #googleMap {
    margin-left: 0px;
    margin-right: 25px;
    width:100%;
    height: 325px;
  }
  #info {
    width: auto;
    color: black;
    background-color: rgba(255,255,255,0.8);
    height: auto;
    font-size: 2em;
    width: 100%;
    text-align: center;
    font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
  }
  #top {
    /*background-image: url(http://img12.deviantart.net/6e54/i/2011/049/8/6/web_page_background_by_badmagicks-d39uktd.jpg);*/
    background-size: 100%;
  }

  body {
    /*background-color: black;*/
    background-image: url(http://2.bp.blogspot.com/-2lX0aEfFVzY/UsgCJ--v5II/AAAAAAAABLA/cHFm49-33xw/s1600/new-york-city-buliding-black-and-white-photography-0c.jpg);
    background-size: 100%;
    background-attachment: fixed;
  }

  table {
    margin-left: auto;
    margin-right: auto;
  }

  #disqus_thread {
    /*background-color: rgba(255,255,255,0.2);*/
    /*background-color: white;*/
  }
</style>
<% @access = @building.get_access @building.address, @building.borough %>
<% @zipcode = AddressValidation.get_zip(@building.address, @building.borough) %>

<% @latitude = @access[0]["latitude"] %>
<% @longitude = @access[0]["longitude"] %>

<script src="http://maps.googleapis.com/maps/api/js"></script>
<script>
function initialize() 
  {var mapProp = {
    center:new google.maps.LatLng( <%= @latitude %>, <%= @longitude %>),
    zoom: 15,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  var map=new google.maps.Map(document.getElementById("googleMap"), mapProp);
  var marker=new google.maps.Marker({
  position:new google.maps.LatLng( <%= @latitude %>, <%= @longitude %>),
  });
marker.setMap(map);
}
google.maps.event.addDomListener(window, 'load', initialize);
</script>

<body>
<div id='top'>
<div id="googleMap"></div>

<%@zipcode = @access[0]["incident_zip"] if !@access.empty? and @access[0]["borough"] == @building.borough.upcase %>
<div id='info'>
<p>
 <strong>Address:</strong>
<%=  @building.address.upcase %>
</p>
<p>

<strong>Zipcode Info:</strong>
  <% if @zipcode.nil? %>
    We could not locate the zipcode.
  <%= @zipcode %></a>
  <% else %>
 <a href =<%="http://www.city-data.com/zips/#{@zipcode}.html"%> ><%= @zipcode %></a>
 <% end %>
</p>
<p>
  <strong>Borough:</strong>
  <%= @building.borough %>
</p>


<% no_complaints_were_found = true %>
<strong>RECORDED 311 COMPLAINTS:</strong>
  <table style="width:60%">
      
<% @access.each do |m| %>
  <% if m["borough"] == @building.borough.upcase %>
    <tr>
    <td> <%= m["created_date"] %> </td>
    <td> <%= m["complaint_type"] %> </td>
    <td> <%=m["descriptor"] %> </td>
    <% no_complaints_were_found = false %>
  <% end %>
<%end%>
</tr>
</table>

<% if no_complaints_were_found %>
  There are no 311 Complaints for this Address.
  <% end %>

<p>
  <strong>Rating </strong>
  <% if @building.rating_count.nil? or @building.rating_count < 1 %>
   Rating Not Available 
  <% else %>
  <%= (@building.rating_sum.to_f / @building.rating_count).round(2) %>
  <% end %>
</p>
</br> 





<%= form_for(@building) do |f| %>
  <strong>Rate this building: </strong>
  <%= radio_button_tag(:rating, "1") %>
  <%= label_tag(:rating, "1") %>
    <%= radio_button_tag(:rating, "2") %>
  <%= label_tag(:rating, "2") %>
    <%= radio_button_tag(:rating, "3") %>
  <%= label_tag(:rating, "3") %>
    <%= radio_button_tag(:rating, "4") %>
  <%= label_tag(:rating, "4") %>
    <%= radio_button_tag(:rating, "5") %>
  <%= label_tag(:rating, "5") %>

  <div class="actions">
    <%= f.submit "Rate"%>
  </div>
<% end %>

</br></br>

<%= link_to 'Search More', root_path %>
</div>
</div>
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'residentree';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</body>
