
<% @access = @building.get_access @building.address, @building.borough %>

<%@zipcode = @access[0]["incident_zip"] if !@access.empty? and @access[0]["borough"] == @building.borough.upcase %>
<p>
 <strong>Address:</strong>
<%=  @building.address.upcase %>
</p>
<p>
<strong>Zipcode:</strong>
  <% if @zipcode.nil? %>
  let's fix this with geodata with @zipcode here
  <%= @zipcode %></a>
  <% else %>
 <a href =<%="http://www.city-data.com/zips/#{@zipcode}.html"%> ><%= @zipcode %></a>
 <% end %>
</p>
<p>
  <strong>Borough:</strong>
  <%= @building.borough %>
</p>


<% no_complaints_were_found = true %>

<% @access.each do |m| %>
  <% if m["borough"] == @building.borough.upcase %>
    <li> <%= m["created_date"] + "---" + m["complaint_type"] + "----" + m["descriptor"] %> </li>
    <% no_complaints_were_found = false %>
  <% end %>
<%end%>

<% if no_complaints_were_found %>
  There are no 311 Complaints for this Address.
  <% end %>

<p>
  <strong>Rating </strong>
  <% if @building.rating_count.nil? or @building.rating_count < 1 %>
   Rating Not Available 
  <% else %>
  <%= (@building.rating_sum.to_f / @building.rating_count).round(2) %>
  <% end %>
</p>
</br> 





<%= form_for(@building) do |f| %>
  <strong>Rate this building: </strong>
  <%= radio_button_tag(:rating, "1") %>
  <%= label_tag(:rating, "1") %>
    <%= radio_button_tag(:rating, "2") %>
  <%= label_tag(:rating, "2") %>
    <%= radio_button_tag(:rating, "3") %>
  <%= label_tag(:rating, "3") %>
    <%= radio_button_tag(:rating, "4") %>
  <%= label_tag(:rating, "4") %>
    <%= radio_button_tag(:rating, "5") %>
  <%= label_tag(:rating, "5") %>

  <div class="actions">
    <%= f.submit "Rate"%>
  </div>
<% end %>

</br></br>

<%= link_to 'Search More', root_path %>
