<p id="notice"><%= notice %></p>

<% @access = @building.get_access @building.address, @building.borough %>
<%@zipcode = @access[0]["incident_zip"]%>
<p>
 <strong>Address:</strong>
<%=  @building.address.upcase %>
</p>
<p>
<strong>Zipcode:</strong>
 <a href =<%="http://www.city-data.com/zips/#{@zipcode}.html"%> ><%= @zipcode %></a>
</p>
<p>
  <strong>Borough:</strong>
  <%= @building.borough %>
</p>




<% @access.each do |m| %>
<li> <%= m["created_date"] + "---" + m["complaint_type"] + "----" + m["descriptor"] %> </li>
<%end%>



<p>
  <strong>Rating </strong>
  <% if @building.rating_count.nil? or @building.rating_count < 1 %>
   Rating Not Available 
  <% else %>
  <%= (@building.rating_sum.to_f / @building.rating_count).round(2) %>
  <% end %>
</p>
</br> 





<%= form_for(@building) do |f| %>
  <strong>Rate this building: </strong>
  <%= radio_button_tag(:rating, "1") %>
  <%= label_tag(:rating, "1") %>
    <%= radio_button_tag(:rating, "2") %>
  <%= label_tag(:rating, "2") %>
    <%= radio_button_tag(:rating, "3") %>
  <%= label_tag(:rating, "3") %>
    <%= radio_button_tag(:rating, "4") %>
  <%= label_tag(:rating, "4") %>
    <%= radio_button_tag(:rating, "5") %>
  <%= label_tag(:rating, "5") %>

  <div class="actions">
    <%= f.submit "Rate"%>
  </div>
<% end %>

</br></br>

<%= link_to 'Search More', root_path %>
